.header {
    background-color: #cde3f6;
    width: 100%;
    height: 133px;
    margin: 0px;
}

.header_links {
    height: 100%;
    max-width: 1528px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.head_links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.shop-login {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.shop-login a {
    padding: 7px;
}

a {
    font-family: 'Calibri bold', sans-serif;
    font-weight: bold;
    color: #333;
}